<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
<link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">

<style>
form {
    background-color: lightgrey;
    width: 300px;
    height: 220px;
    text-align: center;
    border: 5px solid #3e56c4;
    padding: 20px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}
label {
    float: left;
    margin: 5px 0px;
}

</style>

<form class="box" action="{{ url_for('login') }}" method="post">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="username" name="username" placeholder="Имя пользователя">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="password" name="password" placeholder="********">
        <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
        </span>
      </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" name="remainme">
        Remember me
    </label>
    <p></p>
    <button class="button-blue">Log in</button>

<a href="/register">Register</a>
</form>
